<!DOCTYPE html>
<p>
  <h1>Your Short URLs</h1>
  <% if (user){ %>
    <p>Hello, <%=user.id%>!</p>
    <form action="/logout" method="POST">
      <input type="submit" value="Log Out">
    </form>
  <% } else { %>
    <a href='/login'>Log In</a></br>
    <a href='/register'>Sign Up</a>
  <% } %>
</p>
