<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>

  <main>
    <p>
      <%= shortURL %></br>
      <%= longURL %></br>
    </p>
  </main>

</body>
</html>
