<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <p>Hello, please log-in to use tinyApp!</p>
    <form action="/login" method="POST", style="margin:150px;">
      <label for="email">Email: </label>
      <input id="email" type="email" name="email", style="width: 300px"></br>
      <label for="password">Password: </label>
      <input id="password" type="password" name="password", style="width: 300px"></br>
      <input type="submit" value="Log-in" />
    </form>
  </body>
</html>
