<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <p>Hello, please log-in to use tinyApp!</p>
    <form action="/login" method="POST", style="margin:150px;">
      <label for="username">Login ID:</label>
      <input id="username" type="text" name="username", style="width: 300px">
      <input type="submit" value="Log In">
    </form>
  </body>
</html>
